.CorreosEnviados {
	padding-top: 10px;
	padding-bottom: 10px;
}

.correoListado {
	border-style: ridge;
	display: grid;
	grid-template-columns: 5% 25% 30% 40%;
}

.correoListado:hover {
	background-color: rgb(201, 190, 190);
	cursor: pointer;
}

.xdeCorreo {
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.estrellaCorreos:hover {
	color: yellow;
}

.cuerpoCorreosEnviados {
	background-color: rgb(255, 255, 255, 0.8);
}

.headCuerpoCorreosEnviados {
	background-color: #fb6767;
	color: white;
	min-height: 3rem;
}

.bodyCuerpoCorreosEnviadosSobre {
	width: 70vw;
	height: 90vh;
	margin-left: 30vw;
	overflow-y: scroll;
	z-index: 8;
}

.bodyCuerpoCorreosEnviadosSobre > div {
	background-color: rgb(179, 168, 168);
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 2fr 1fr 8fr 1fr;
	grid-template-areas:
		"correoPrimero"
		"correoSegundo"
		"correoTercero"
		"correoCuarto";
}

.correoPrimero {
	grid-area: "correoPrimero";
}

.correoSegundo {
	grid-area: "correoSegundo";
}

.correoCuarto {
	grid-area: "correoCuarto";
}

.iframeCorreo {
	width: 100%;
	height: 100%;
	background-color: white;
	grid-area: "correoTercero";
}

.botonesCorreosEnviados {
	min-height: 3.5rem;
}
