.CorreosEnviados {
	padding-top: 10px;
	padding-bottom: 10px;
}

.correoListado {
	border-style: ridge;
	display: grid;
	grid-template-columns: 5% 25% 30% 40%;
}

.correoListado:hover {
	background-color: rgb(201, 190, 190);
	cursor: pointer;
}

.estrellaCorreos:hover {
	color: yellow;
}

.cuerpoCorreosEnviados {
	background-color: rgb(255, 255, 255, 0.8);
	display: grid;
	grid-template-columns: 1% 98% 1%;
	grid-template-rows: 5% auto 7%;
}

.headCuerpoCorreosEnviados {
	background-color: #fb6767;
	color: white;
	grid-column: 1/4;
	grid-row: 1/2;
}

.bodyCuerpoCorreosEnviados {
	grid-column: 1/4;
	grid-row: 2/3;
}

.bodyCuerpoCorreosEnviadosSobre {
	z-index: 8;
	grid-column: 1/4;
	grid-row: 1/4;
	background-color: thistle;
}

.botonesCorreosEnviados {
	grid-column: 1/4;
	grid-row: 3/4;
}
