.CorreosRecibidos {
	padding-top: 10px;
	padding-bottom: 10px;
}

.cuerpoCorreosRecibidos {
	background-color: rgb(255, 255, 255, 0.8);
}

.headCuerpoCorreosRecibidos {
	background-color: #fb6767;
	color: white;
}
