.CrearUsuario {
	padding-top: 10px;
	padding-bottom: 10px;
}

.internoCrearUsuario {
	background-color: #c4c4c4;
}

.bodyCrearUsuario {
	background-color: rgb(255, 253, 253, 0.8);
}

.fotoCrearUsuario {
	height: 10vw !important;
	width: 10vw !important;
	background-image: url("../img/usuario.png");
	background-repeat: no-repeat;
	background-size: 7vw;
	background-position: center;
}

.fotoCrearUsuario > img {
	height: 10vw !important;
	width: 10vw !important;
}

.divResumen {
	background-color: #fe6060;
}
