.CrearUsuario {
	padding-top: 10px;
	padding-bottom: 10px;
}

.internoCrearUsuario {
	background-color: #c4c4c4;
}

.bodyCrearUsuario {
	background-color: rgb(255, 253, 253, 0.8);
}

.fotoCrearUsuario {
	background-color: #c4c4c4;
}

.divResumen {
	background-color: #fe6060;
}
