div#root {
background-color: #F1D15F;
width: 1280px;
height: 609px;
}
.IngresarUsuario {
position: relative;
width: 360px;
height: 500px;
left: 460px;
top: 40px;
background: #1B4B4D;
border-radius: 100px;
}
h1.Ingresar {
position: relative;
text-align: center;
top: 35px;
opacity: 80%;
color: rgba(255, 255, 255, 1)
}
input.Usuario {
position: relative;
width: 240px;
height: 60px;
left: 50px;
top: 90px;
background: #E8984A;
border-radius: 20px;
}
input.Password {
position: relative;
left: 50px;
top: 110px;
width: 240px;
height: 60px;
background: #E8984A;
border-radius: 20px;
}
button.Entrar {
position: relative;
width: 240px;
height: 60px;
left: 50px;
top: 160px;
background: #E8984A;
border-radius: 20px;
}
a.Registrate {
position: absolute;
top: 400px;
width: 120px;
left: 120px;
}
p {
position: absolute;
top: 420px;
width: 120px;
left: 140px;
}
button.Atras {
position: relative;
width: 240px;
height: 60px;
left: 480px;
top: 163px;
background: #E8984A;
border-radius: 20px;
}
