div.Registro{
position: relative;
width: 360px;
height: 500px;
top: 100px;
background: #1B4B4D;
border-radius: 100px;
}
h1.Registrate {
position: relative;
text-align: center;
top: 35px;
opacity: 80%;
color: rgba(255, 255, 255, 1)
} 
input.Nombre {
text-align: center;
position: relative;
width: 240px;
height: 60px;
left: 50px;
top: 50px;
background: #Fcf1d0;
border-radius: 20px;
}
input.Apellido {
text-align: center;
position: relative;
left: 50px;
top: 60px;
width: 240px;
height: 60px;
background: #Fcf1d0;
border-radius: 20px;
}
input.Telefono {
text-align: center;
position: relative;
left: 50px;
top: 70px;
width: 240px;
height: 60px;
background: #Fcf1d0;
border-radius: 20px;
}
input.Correo{
text-align: center;
position: relative;
left: 50px;
top: 80px;
width: 240px;
height: 60px;
background: #Fcf1d0;
border-radius: 20px;
}
input.CrearPassword {
text-align: center;
position: relative;
left: 50px;
top: 90px;
width: 240px;
height: 60px;
background: #Fcf1d0;
border-radius: 20px;
}
button.Aceptar {
position: relative;
top: 170px;
left: 50px;
background-color: lightsteelblue;
width: 240px;
height: 60px;
border-radius: 20px;
}
